﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support 1:</strong>   <a href="mailto:hungncd00675@fpt.edu.vn">hungncd00675@fpt.edu.vn</a><br />
    <strong>Support 2:</strong> <a href="mailto:hungnguyen1296@gmail.com">hungnguyen1296@gmail.com</a>
</address>